$backgroundColour: #f2f5f9;
.ticket {
  background-color: $backgroundColour;
  height: 100vh;
}
p {
  margin: 0;
}
.ticket-main {
  animation-duration: 3s;
  // background-color: #ffc010;
  background: url("../../resources/images/ticket.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 585px;
  width: auto;
}

.question-head {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.897);
  padding: 30px 0;
}
.direction-location {
  margin-bottom: 25px;
  display: flex;
}
.vehicle-seat {
  margin-bottom: 40px;
  display: flex;
  text-align: left;
}
.ticket-section {
  display: inline-block;
  width: 50%;
  padding-left: 15px;
}
.two {
  margin-left: 20px;
}
.time {
  margin-bottom: 20px;
  display: flex;
  text-align: left;
}
.location {
  font-size: 60px;
  display: inline-block;
}
.direction {
  width: 91px;
  height: 22.56px;
  padding-top: 35px;
}
.ticket-section-head {
  font-size: 13px;
  opacity: 53%;
  font-weight: bold;
}
.ticket-section-body {
  font-size: 22px;
  color: black;
}
