ul {
  margin: 0 auto;
  height: auto;
}
/* DEPARTURE */
.departure-f {
  margin-top: -7px;
  text-align: center;
  background-image: url("../../../resources/images/destinationBg.png");
  background-repeat: no-repeat;
  background-size: 103% 100%;
  background-position: center;
  margin: 0 auto;
  padding: 0 30px;
  width: 395px;

  .question-head-f {
    padding-bottom: 0;
  }
  .departure-list-f p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 70px;
    color: white;
    transition: 0.1s ease-in;
    display: inline-block;
    /* margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.363); */
    /* width: 100px;
      height: 100px; */
    /* transform: rotate(90deg);
      transform-origin: right top; */
  }
}
.destination-selection {
  width: 450px;
  margin: 0 auto;
}
.question-head-f {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.897);
  padding: 30px 0;
}

/* DESTINATION */
.destination-category {
  text-align: left;
  font-size: 20px;
  color: #141414;
  margin-top: 30px;
  margin-left: 1em;
}
.destination-category-list {
  overflow-x: scroll;
  overflow-y: hidden;
  height: auto;
  width: 100%;
  white-space: nowrap;
}
.destination-category-list-item {
  background-image: url("../../../resources/images/door.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 40px;
  width: 182px;
  height: 125px;
  list-style-type: none;
  color: rgb(255, 255, 255);
  transition: 0.1s ease-in;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  li {
    padding-top: 62px;
  }
}
